services:
  - type: web
    name: nnsca-backend
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: EMAIL_USER
        sync: false
      - key: EMAIL_PASS
        sync: false
      - key: EMAIL_TO
        sync: false
      - key: ADMIN_EMAIL
        sync: false
      - key: BACKEND_URL
        sync: false
